PORT = 8000


## Database config
DATABASE_NAME=
DATABASE_PORT=
DATABASE_HOST=

PROD_DATABASE_URL=
DEV_DATABASE_URL=


## Environment config
ENVIRONMENT=



## JWT Config
JWT_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=



## Redis Config
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USERNAME=